<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSinhVien.Properties.Settings.QlSinhVienConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\QlSinhVien.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLSinhVien.Properties.Settings.OnlineClothingShopConnectionString"
            connectionString="Data Source=DESKTOP-OE5VPO5\SQLEXPRESS;Initial Catalog=OnlineClothingShop;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>